<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mrj.dao.RolePermissionMapper">
	<resultMap id="BaseResultMap" type="com.mrj.po.RolePermission">
		<id column="roleid" property="roleid" jdbcType="VARCHAR" />
		<id column="permissionid" property="permissionid" jdbcType="VARCHAR" />
	</resultMap>
	<delete id="deleteByPrimaryKey" parameterType="map">
		delete from
		role_permission
		where roleid = #{roleid,jdbcType=VARCHAR}
		and
		permissionid = #{permissionid,jdbcType=VARCHAR}
	</delete>
	<delete id="deleteRolePermission" parameterType="com.mrj.po.RolePermission">
		delete from role_permission
		<where>
			<if test="roleid != null and roelid != ''">
				roleid = #{roleid,jdbcType=VARCHAR}
			</if>
			<if test="permissionid != null and permissionid != ''">
				permissionid = #{permissionid,jdbcType=VARCHAR}
			</if>
		</where>
	</delete>
	<insert id="insert" parameterType="com.mrj.po.RolePermission">
		insert into role_permission
		(roleid, permissionid)
		values (#{roleid,jdbcType=VARCHAR},
		#{permissionid,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.mrj.po.RolePermission">
		insert into role_permission
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="roleid != null">
				roleid,
			</if>
			<if test="permissionid != null">
				permissionid,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="roleid != null">
				#{roleid,jdbcType=VARCHAR},
			</if>
			<if test="permissionid != null">
				#{permissionid,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
</mapper>