<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mrj.dao.UserMapper">
	<resultMap id="BaseResultMap" type="com.gihub.sample.shiro.po.User">
		<id column="userid" property="userid" jdbcType="VARCHAR" />
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
	</resultMap>
	<resultMap id="VoResultMap" type="com.gihub.sample.shiro.vo.UserVo"
		extends="com.mrj.dao.UserMapper.BaseResultMap">
		<collection property="roles" ofType="com.gihub.sample.shiro.vo.RoleVo"
			column="userid" select="com.mrj.dao.RoleMapper.selectByUserId">
		</collection>
		<collection property="permissions" ofType="com.gihub.sample.shiro.vo.PermissionVo"
			column="userid" select="com.mrj.dao.PermissionMapper.selectByUserId">
		</collection>
	</resultMap>
	<sql id="Base_Column_List">
		userid, username, password
	</sql>
	<select id="selectByPrimaryKey" resultMap="VoResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from t_user
		where userid = #{userid,jdbcType=VARCHAR}
	</select>
	<select id="selectByObject" resultMap="VoResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from t_user
		<where>
			<if test="userid != null and userid != ''">
				and userid = #{userid,jdbcType=VARCHAR}
			</if>
			<if test="username != null and username != ''">
				and username = #{username,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	<select id="selectCount" resultType="java.lang.Integer"
		parameterType="java.lang.String">
		select
		count(*)
		from t_user
		<where>
			<if test="userid != null and userid != ''">
				and userid = #{userid,jdbcType=VARCHAR}
			</if>
			<if test="username != null and username != ''">
				and username = #{username,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from t_user
		where userid = #{userid,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.gihub.sample.shiro.vo.UserVo">
		insert into t_user (userid,
		username, password
		)
		values (#{userid,jdbcType=VARCHAR},
		#{username,jdbcType=VARCHAR},
		#{password,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.gihub.sample.shiro.vo.UserVo">
		insert into t_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userid != null">
				userid,
			</if>
			<if test="username != null">
				username,
			</if>
			<if test="password != null">
				password,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userid != null">
				#{userid,jdbcType=VARCHAR},
			</if>
			<if test="username != null">
				#{username,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.gihub.sample.shiro.vo.UserVo">
		update t_user
		<set>
			<if test="username != null">
				username = #{username,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR},
			</if>
		</set>
		where userid = #{userid,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.gihub.sample.shiro.vo.UserVo">
		update t_user
		set
		username = #{username,jdbcType=VARCHAR},
		password =
		#{password,jdbcType=VARCHAR}
		where userid = #{userid,jdbcType=VARCHAR}
	</update>
</mapper>